@import "tailwindcss";

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../src/assets/Hero.jpg') no-repeat center center/cover;
  color: white;
  position: relative;
  overflow: hidden;
  animation: fadeIn 2s ease-in-out;
  margin-left: -0.5em;
  margin-right: -0.5em;
  width: 84.93em;
}